---
---

@import "bootstrap/bootstrap";
@import 'grayscale';
// @import "minima";

.social-icons {
  a {
    margin-top: 50px;
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background-color: white;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 5rem;
    margin-right: 1rem;
  }
  a.spotify {
    color: #4CAF50;
    &:hover {
      background-color: #4CAF50;
      color: white;
    }
  }
  a.youtube {
    color: #e51c23;
    &:hover {
      background-color: #e51c23;
      color: white;
    }
  }
  a.bandcamp {
    color: #1da0c3;
    &:hover {
      background-color: #1da0c3;
      color: white;
    }
  }
  a.twitter {
    color: #1da1f2;
    &:hover {
      background-color: #1da1f2;
      color: white;
    }
  }
}

.main-content, .links-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-section {
  padding-bottom: 3rem;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0.75em;
    border-bottom: thin solid #f3f3f3;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  .post-meta {
    width: auto;
    font-weight: 300;
    margin: 0;
    padding: .25em 0;
    color: #7a7a7a;
    font-size: .75rem;
  }
}

footer {
  color: white;
}
