---
layout: default
---

<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">
        <img src="/assets/images/logo-white.png" class="img-fluid" alt="Othersame"/>
      </h1>
      <div class="social-icons">
        <a class="spotify" href="https://open.spotify.com/album/4K7f7FXzcyfxuSIYSNvG0M" target="_blank">
          <i class="fab fa-spotify"></i>
        </a>
        <a class="youtube" href="https://youtube.com/othersame" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a  class="bandcamp" href="https://othersame.bandcamp.com" target="_blank">
          <i class="fab fa-bandcamp"></i>
        </a>
        <a class="twitter" href="https://twitter.com/othersamecwb" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</header>

<section class="about-section text-center">
  <div class="container">
    <div class="row">
      <a href="https://distrokid.com/hyperfollow/othersame/depiction">
        <img src="/assets/images/album.jpeg" class="img-fluid" alt="">
      </a>
    </div>
  </div>
</section>

<section class="links-section text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Fy5bck39OxA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
